*{
    box-sizing: border-box;
    margin: 0 0 0 0 ;
    padding: 0;  
}
body{
    font-family: "Segoe UI", Arial, Helvetica, sans-serif;
    line-height:1.4;
    background-color: #aebd9d;
    color: #000000;

}
.container{
    max-width: 800px;
    margin: 0 auto;
    border: 1px solid #D4D4AA;

}
.todo-item{
    list-style-type: none;
    padding: 10px 15px;
    border-top: 1px solid #D4D4AA;
}
.todo-item input{
    margin-right:15px;
}
.completed{
    font-style: italic;
    color: gray;
    text-decoration: line-through;
}
.btn-delete{
    background: #d35e0f;  
    color: #fff;   
    border: 1px solid #d35e0f; 
    padding: 3px 7px;   
    border-radius: 10%;  
    cursor: pointer;   
    float: right;    
    outline: none;
}